.dashboard--all-users {
  background-color: rgb(72, 7, 250);
}
.dashboard--all-legit-checks {
  background-color: rgb(10, 214, 159);
}
.dashboard--new-customers {
  background-color: rgb(241, 57, 90);
}

.dashboard--total-products {
  background-color: rgb(68, 68, 67);
}

.bg-white-op {
  background-color: rgba(255, 255, 255, 0.5);
}
