<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: sans-serif;
      }
      p,
      h3 {
        margin-bottom: 15px;
      }
    </style>
  </head>
  <body>
    <div style="padding: 10px; background-color: #f7f7f7; padding-bottom: 50px">
      <div style="max-width: 600px; margin: 0px auto">
        <div style="width: 150px; margin: 0px auto">
          <img
            src="https://kmmart.s3.ap-south-1.amazonaws.com/stf/logo-black.0cbf3388da0784e63a30.jpg"
            width="100%"
            alt="Not found"
          />
        </div>
        <div
          style="background-color: #efefef; padding: 10px; border-radius: 10px"
        >
          <h3>Hello! ${resp.name} ${resp.surname}</h3>
          <p>A password reset request has been initiated by you.</p>
          <p>
            Click on link below or copy the link and paste it in url bar in any
            browser.
          </p>
          <p>
            <small><a href="${link}" target="_blank">${link}</a></small>
          </p>
          <p>Link is only valid for one hour.</p>
          <p>If you didn't initiated this request simply ignore this email.</p>
          <p>Regards,</p>
          <h4>StopTheFake</h4>
        </div>
      </div>
    </div>
  </body>
</html>
